/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
	padding-bottom: 20px;
	font-style:italic;
	background: linear-gradient(170deg, #00000085, #2e0443);
}

.contact .info {
	padding: 30px;
	background: #fff;
	width: 100%;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact label{
	color: #fff;
}
.section-title p{
	color: #fff;
	
}
.contact input, .contact .form-control {
	background: #040b1451;
	color: #fff;
}
.contact .php-email-form {
	width: 70%;
	padding: 30px;
	background: #040b1451;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
	padding-bottom: 8px;
	margin-left: auto;
}

.contact .php-email-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}

.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .error-message br + br {
	margin-top: 25px;
}

.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
	margin-bottom: 15px;
}

.contact .php-email-form label {
	padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

.contact .php-email-form input {
	height: 44px;
}

.contact .php-email-form textarea {
	padding: 10px 15px;
}

.contact .php-email-form button[type="submit"] {
	background: #040b1451;
	border: 1px solid white;
	padding: 10px 24px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
	background: linear-gradient( #918e8ea2, #7211903a);
	border: 3px solid white;
	
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}