/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding-top: 60px;
	overflow: hidden;
	/* background: linear-gradient(170deg, #00000085, #2e0443a3); */
	/* background: linear-gradient(170deg, #0000009c, #2e0443a3); */
	/* background-color:rgb(154, 154, 154); */
	background-color:#dee0e197;
	/* background-color:#c7d1d5; */
}

section#about{
	/* background-color:rgb(91, 91, 91); */
	background-color:#c7d1d5;
	border-bottom: 4px solid #000000;
	border-right: 4px solid #000000;
}
section#resume{
	border-bottom: 4px solid #000000;
	border-right: 4px solid #000000;
	background-color: #dee0e197;
}
section#contact{
	/* background-color:rgba(91, 91, 91, 0.295); */
	border-right: 4px solid #000000;
	background-color:#c7d1d5;
}
#contact {
	/* padding-top: 250px; */
	padding-bottom: 50px;
}

.section-title {
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #000000
}

.section-title h2::after {
	
	content: "";
	position: absolute;
	display: block;
	width: 100px;
	height: 3px;
	background: #000000;
	bottom: 0;
	left: 0;
}

.section-title p {
	margin-bottom: 0;
}
