
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* Style the vertical scrollbar */
::-webkit-scrollbar {
    width: 14px; /* Width of the scrollbar */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #000000; /* Light gray background */
    border-radius: 0 0 10px 10px; /* Rounded corners */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #888; /* Dark gray color */
    border-radius: 10px; /* Rounded corners */
	border: 2px solid rgb(255, 255, 255);
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker gray when hovered */
}

html {
	scroll-behavior: smooth;
}

body {
	/* font-family: "Open Sans", sans-serif; */
	font-family: "Poppins", sans-serif;
	color: #272829;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: "Raleway", sans-serif; */
	font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 20px;
	bottom: 30px;
	z-index: 996;
	background: #000000;
	color: #f7f7f7;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	border: 1px solid white;
}

.back-to-top i {
	font-size: 28px;
	/* color: #fff; */
	line-height: 0;
}

.back-to-top:hover {
	border: 1px solid black;
	border-radius: 50px;
	background: #f0f0f0;
	color: #000000;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 20px 0;
	background: #f9f9f9;
}

.breadcrumbs h2 {
	font-size: 26px;
	font-weight: 300;
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

.breadcrumbs ol li + li {
	padding-left: 10px;
}

.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #0e2442;
	content: "/";
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}

	.breadcrumbs ol {
		display: block;
	}

	.breadcrumbs ol li {
		display: inline-block;
	}
}