
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #272829;
	
}

a {
	color: #149ddd;
	text-decoration: none;
}

a:hover {
	color: #7b31f2;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #4104a3;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	border: 1px solid white;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #7b31f2;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 20px 0;
	background: #f9f9f9;
}

.breadcrumbs h2 {
	font-size: 26px;
	font-weight: 300;
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

.breadcrumbs ol li + li {
	padding-left: 10px;
}

.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #0e2442;
	content: "/";
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}

	.breadcrumbs ol {
		display: block;
	}

	.breadcrumbs ol li {
		display: inline-block;
	}
}